<body>
  <p>
    <h3><strong>User:</strong></h3>
    <%= @post.user.name %>
  </p>
<p>
  <h3><strong>Title</strong></h3>
  <%= @post.title%>
</p>

<p>
  <h3><strong>Content:</strong></h3>
  <%= @post.body %>
</p>
</div>
</div>
<hr>
<p>
  <strong>Comments:</strong>
  <%= render 'comments/form' %>
</p>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="10"></th>
    </tr>
  </thead>

<tbody>
  <% @post.comments.each do |comment| %>
    <tr>
      <td><%= comment.user.name %></td><br><br>
      <td><%= comment.content %></td>
    </tr>
  <% end %>
</tbody>
</table>
</body>
