<div class="col-lg-8">
<body>
  <div class="posts">
  <div class="pull-left">
<p>
  <div class="title">
  <!-- <h3><strong>Title</strong></h3> -->
  <h1><strong><%= @post.title%></h1></strong>
</p>
</div>


<p>
  <h4><strong>By:</strong></h4>
  <h4><%= @post.user.name %><h4>
</p>
</div>
<hr>
<p>
  <br><br>
  <div class="post-content">
  <h2><strong>
  <%= @post.body %>
  </strong></h2>
</p>
</div>
<p>
  <br><br><br><br>

  <%= render 'comments/form' %>
</p>
<table>
  <thead>
    <tr>
      <th colspan="20"></th>
    </tr>
  </thead>
  <br>
<tbody>
  <% @post.comments.each do |comment| %>
    <tr>
    <div class="panel panel-default">
      <div class="panel-heading">
      By: <%= comment.user.name %>
    </div>
    <div class="panel-body">
      <%= comment.content %>
    </div>
  </div>
  <%= link_to 'Edit', edit_post_comment_path(comment), :class => "btn btn-default btn-sm" if current_user == comment.user %>
    </tr>
  <% end %>
</tbody>
</table>
</body>
</div>
